:root {
    --jexcel_header_color: ;
    --jexcel_header_color_highlighted: #444;
    --jexcel_header_background: #313131;
    --jexcel_header_background_highlighted: #777;
    --jexcel_content_color: #777;
    --jexcel_content_color_highlighted: #333;
    --jexcel_content_background: #3e3e3e;
    --jexcel_content_background_highlighted: #333;
    --jexcel_menu_background: #7e7e7e;
    --jexcel_menu_background_highlighted: #ebebeb;
    --jexcel_menu_color: #ddd;
    --jexcel_menu_color_highlighted: #222;
    --jexcel_menu_box_shadow: unset;
    --jexcel_border_color: #5f5f5f;
    --jexcel_border_color_highlighted: #999;
    --active_color: #eee;
}

.toolContainer{
    height:100vh;
    background:linear-gradient(160deg ,rgb(255, 255, 255), rgb(180, 180, 180));
    /* background:linear-gradient(160deg ,rgb(15, 15, 15), rgb(20, 20, 20)); */
    box-sizing: border-box;
    padding: 4rem 10rem;
    display:flex;
    gap:1rem;
}