.leftSide{
    /* background-color:rgba(0, 0, 0, 0.308); */
    /* border-radius:1%; */
    overflow: hidden;
    display:flex;
    flex-direction:column;
    flex:1;
    height:min-content;
    max-height:calc(100vh - 8rem);
    outline:1px rgba(255, 255, 255, 0.1) solid;
}

.leftHeader{
    background-color:rgba(0, 0, 0, 0.4);
    height:10%;
    border-bottom:1px rgba(0, 0, 0, 0.089) solid;
    display:flex;
    justify-content: right;
    align-items: center;
    padding: 0rem 2rem;
}
.leftHeader h2{
    font-weight:500;
}

.leftBody{
    background-color:transparent;
    display:flex;
    overflow:auto;
}
.leftFooter{
    background:var(--red-gradient);
    height:10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0rem 2rem;
}
.leftFooter h3{
    font-weight:400;
}
.leftFooter h3:hover{
    cursor: pointer;
    text-decoration: underline;
    
}
.leftFooter h4{
    font-weight:400;
}
.spreadsheet{
    width:100%;
    background-color:rgba(0, 0, 0, 0.432);
    display:flex;
    justify-content: center;
    text-align: center;
}
.spreadsheet h1 {
    font-weight:300;
}