.leftSide{
    background-color:rgba(0, 0, 0, 0.308);
    border-radius:1%;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    flex:1;
}

.leftHeader{
    background-color:rgba(0, 0, 0, 0.432);
    height:10%;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418); */
    border-bottom:1px rgba(0, 0, 0, 0.089) solid;
    display:flex;
    justify-content: right;
    align-items: center;
    padding: 0rem 2rem;
}
.leftHeader h2{
    font-weight:500;
}
.leftBody{
    background-color:transparent;
    display:flex;
    flex:1;
    padding:2rem;
}
.leftFooter{
    background:linear-gradient(340deg, rgb(139, 0, 0), rgb(85, 8, 8));
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418); */
    height:10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0rem 2rem;
}
.leftFooter h3{
    font-weight:400;
}
.leftFooter h3:hover{
    cursor: pointer;
    text-decoration: underline;
    
}
.leftFooter h4{
    font-weight:400;
}
.spreadsheet{
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.432);
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.spreadsheet h1 {
    font-weight:300;
}