.rightSide{
    flex:1;
    background-color:rgba(0, 0, 0, 0.308);
    border-radius: 1%;
    display:flex;
    flex-direction: column;
    gap:2rem;
    overflow: hidden;
    box-sizing: border-box;
    padding:2rem;
    overflow-y: scroll;
}
.switchInfo{
    /* height:100%; */
    background-color:rgba(0, 0, 0, 0.438);
    width:100%;
    flex:1;
    border-radius:1%;
    overflow: hidden;
    overflow-y: scroll;
}
.switchInfo > header{
    background:linear-gradient(340deg, rgb(139, 0, 0), rgb(85, 8, 8));
    height:15%;
    width:100%;
    display:flex;
    align-items: center;
    padding:0rem 2rem;
    /* border-bottom: 2px black solid; */
}
.infoContainer{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
}
.infoItem{
    border-bottom:1px solid black;
    display:flex;
    flex:1;
    align-items: center;
    flex-direction:row;
    padding:0rem 2rem;
    gap:2rem;
}
.racks{
    display:flex;
    flex-direction: column;
    gap:2rem;
    flex:1;
}
.rack{
    display:flex;
    flex:1;
    background-color:rgba(0, 0, 0, 0.432);
    height:20%;
}
.switchContainer{
    background-color:aqua;
    min-height:10%;
    width:100%;
    display:flex;
    /* flex:1; */
}