.bottom-Side{
    /* background-color:var(--dark-gray-background); */
    /* border-radius:1%; */
    overflow: hidden;
    display:flex;
    flex-direction:column;
    flex:1;
    height:min-content;
    /* max-height:calc(100vh - 8rem); */
    /* border-top:2px rgba(255, 255, 255, 0.719) solid; */
    /* outline:1px rgba(255, 255, 255, 0.1) solid; */
}

.bottom-Header{
    /* background:var(--dark-gray-background); */
    height:10%;
    border-bottom:1px rgba(0, 0, 0, 0.089) solid;
    display:flex;
    justify-content: right;
    align-items: center;
    padding: 0rem 2rem;
}
.bottom-Header h4{
    font-weight:400;
    padding:1rem;
    background-color: var(--dark-gray-background);
    margin-bottom: 0px;
    border-radius: 4px;
    border:3px solid rgba(0, 0, 0, 0.199);
    border-bottom:0px;
}

.bottom-Body{
    background-color:transparent;
    display:flex;
    overflow:auto;
}
.bottom-Footer{
    /* background-color:rgba(0, 0, 0, 0.4); */
    height:10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0rem 2rem;
}
.bottom-Footer h3{
    font-weight:300;
}
.bottom-Footer h3:hover{
    cursor: pointer;
    text-decoration: underline;
    
}
.bottom-Footer h4{
    font-weight:400;
}
.spreadsheet{
    width:100%;
    background-color:rgba(0, 0, 0, 0.432);
    display:flex;
    justify-content: center;
    text-align: center;
}
.spreadsheet h1 {
    font-weight:300;
}